mat-toolbar {
  background: rgba(0, 0, 0, .5);

  .mat-icon {
    font-size: 28px;
    color: white;
  }

  .example-icon {
    padding: 0 14px;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


