:host {
  flex-grow: 1;
  padding: 20px;
}

h3 {
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-self: stretch;
  background: rgba(9, 25, 42, .5);
  color: white;
  min-height: 450px;

  span {
    color: #ffb400;
  }
}
