<div class="bmi-wrapper">
  <form [formGroup]="bmiGroup" (submit)="handleSubmit()">

    <div class="group">
      <label>Выберите пол:</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="Мужчина">Мужчина</mat-radio-button>
        <mat-radio-button value="Женщина">Женщина</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="group">
      <mat-slider formControlName="age"
                  thumbLabel
                  min="5"
                  max="125"></mat-slider>
    </div>

    <div class="group">
      <mat-slider formControlName="weight"
                  thumbLabel
                  min="25"
                  max="225"></mat-slider>
    </div>

    <div class="group">
      <mat-slider formControlName="growth"
                  thumbLabel
                  min="25"
                  max="225"></mat-slider>
    </div>

    <button mat-raised-button color="primary">Рассчитать</button>
  </form>
</div>
