<div class="bmi-wrapper">
  <form>
    <div class="state-group">
      <label class="example-margin">Выберите пол:</label>
      <mat-radio-group [(ngModel)]="labelPosition" [ngModelOptions]="{standalone: true}">
        <mat-radio-button class="example-margin" value="man">Мужчина</mat-radio-button>
        <mat-radio-button class="example-margin" value="woman">Женщина</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="age-group">
      <p>Введите ваш возраст:</p>
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="120"
        [min]="5"
        [step]="1"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="ageValue"
        [ngModelOptions]="{standalone: true}"
        [vertical]="vertical">
      </mat-slider>
    </div>
    <div class="weight-group">
      <p>Введите ваш вес:</p>
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="250"
        [min]="25"
        [step]="1"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="weightValue"
        [ngModelOptions]="{standalone: true}"
        [vertical]="vertical">
      </mat-slider>
    </div>
    <div class="growth-group">
      <p>Введите ваш рост:</p>
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="250"
        [min]="100"
        [step]="1"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="growthValue"
        [ngModelOptions]="{standalone: true}"
        [vertical]="vertical">
      </mat-slider>
    </div>
  </form>
</div>
