:host{
  width: 95%;
}
.form-card {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 250px;
  .mat-card-header-text {
    margin: 0;
  }
  mat-radio-button{
    padding: 5px 10px 5px 0;
  }
  .group {
    display: flex;
    flex-direction: column;
    label {
      font-size: 16px;
      line-height: 32px;
      padding: 10px 0;
    }
  }
}

