<mat-card class="form-card">
  <div class="title">{{name | uppercase}}</div>
  <mat-card-content>
    <form [formGroup]="bmiGroup" (submit)="handleSubmit()">
      <div class="group">
        <label>Укажите Ваш пол:</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Мужчина">Мужчина</mat-radio-button>
          <mat-radio-button value="Женщина">Женщина</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="group">
        <label>Укажите Ваш возраст: <span class="chosenValue">{{bmiGroup.value.age}}</span></label>
        <mat-slider formControlName="age"
                    thumbLabel
                    min="5"
                    max="100"></mat-slider>
      </div>

      <div class="group">
        <label>Укажите Ваш вес: <span class="chosenValue">{{bmiGroup.value.weight}}</span></label>
        <mat-slider formControlName="weight"
                    thumbLabel
                    min="25"
                    max="150"></mat-slider>
      </div>

      <div class="group">
        <label>Укажите Ваш рост: <span class="chosenValue">{{bmiGroup.value.growth}}</span></label>
        <mat-slider formControlName="growth"
                    thumbLabel
                    min="100"
                    max="225"></mat-slider>
      </div>

      <button mat-raised-button color="primary" [disabled]="bmiGroup.invalid">Рассчитать</button>
    </form>
  </mat-card-content>
</mat-card>
