.bmi-container {
  display: flex;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
  min-width: 480px;
  height: 100%;
  background: rgba(9, 25, 42, .5);

  //@keyframes pulse_animation {
  //  40% { transform: scale(1.02); }
  //}

  .light-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    //animation-name: pulse_animation;
    //animation-duration: 2000ms;
    //transform-origin:70% 70%;
    //animation-iteration-count: infinite;
    //animation-timing-function: linear;
  }

  .manColor {
    background: url("../../../../assets/images/light/light-men.png") center center no-repeat;
  }

  .womanColor {
    background: url("../../../../assets/images/light/light-women.png") center center no-repeat;
  }

  .person-image {
    height: 325px;
    width: auto;
  }
}



