.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: -64px;
  background-size: cover;

  .container {

    @media only screen and (max-width: 1024px) {
      flex-direction: column !important;
    }
    display: flex;
    width: 100%;
  }
}
.preload {
  display: none;
  background: url('../../assets/BGWomen.jpg') center center fixed;
}

.manColor {
  background: url('../../assets/BGMen.png') center center fixed;
}

.womanColor {
  background: url('../../assets/BGWomen.jpg') center center fixed ;
}
